[submodule "vendor/headsetcontrol"]
	path = vendor/headsetcontrol
	url = https://github.com/modcrafts/headsetcontrol
[submodule "hidapi"]
	path = vendor/hidapi
	url = https://github.com/libusb/hidapi
